* {
  margin: 0;
}
html,body {
  height: 100%;
}
.content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}
.container {
  max-width: 940px;
}
.main {
  height: 500px;
  background: url("https://static.pexels.com/photos/5317/food-salad-restaurant-person.jpg")no-repeat center center;
  background-size: cover;
  text-align:center;
}
.main .container h1{
  color:#fff;
  margin:100px auto;
  font-size:64px;
  border: 1px solid #F00;
  background: rgba(229,35,100, 0.6);
    clear: both;
    float: left;
}
#userInput{
  background:transparent;
  border:0px;
  border-bottom: 3px #e52364 solid;
  margin-right:10px;
  font-size:20px;
  color:#fff;
  padding:0px 5px;
}
.main .btn-default{
  background-color:#e52364;
  color:#fff;
  font-size: 20px;
  padding:5px 20px;
  border:0px;
}
.main .btn-default:hover{
  color:#e52364;
  background-color:#fff;  
}
.content{
  height:800px;
}
.content .container{
  padding:50px;
}
.thumbnail{
  height:280px;
  text-align:center;
}
.thumbnail h2{
  font-size:20px;
}
.thumbnail .btn{
  margin-top:10px;
}
.footer, .push{
  background-color:#e52364;
  color:#fff;
  
  height: 6em;
  
}
.footer .container{
  padding:35px;
}