* {
  margin: 0;
}
html,body {
  height: 100%;
}
.content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}
.container {
  max-width: 940px;
}
.main {
  height: 500px;
  background: url("https://static.pexels.com/photos/5317/food-salad-restaurant-person.jpg")no-repeat center center;
  background-size: cover;
  text-align:center;
}
.main .container h1{
  color:#fff;
  margin:100px auto;
  font-size:64px;
  border: 1px solid #F00;
  background: rgba(229,35,100, 0.6);
    clear: both;
    float: left;
}
#zipCode{
  background:transparent;
  border:0px;
  border-bottom: 3px #e52364 solid;
  margin-right:10px;
  font-size:20px;
  color:#fff;
  padding:0px 5px;
}
input::-webkit-input-placeholder{
  color:#fff;
}
.main .btn-default{
  background-color:#e52364;
  color:#fff;
  font-size: 20px;
  padding:5px 20px;
  border:0px;
}
.main .btn-default:hover{
  color:#e52364;
  background-color:#fff;  
}
.content{
  height:800px;
}
.content .container{
  padding:50px;
}
@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.hvr-push {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-push:hover, .hvr-push:focus, .hvr-push:active {
  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(229,35,100, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(229,35,100, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(229,35,100, 0.35) 0%, rgba(229,35,100, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(229,35,100, 0.35) 0%, rgba(229,35,100, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

.thumbnail{
  position:relative;
  height:280px;
  text-align:center;
}
.thumbnail h2{
  font-size:20px;
}
.thumbnail .btn{
  margin-top:10px;
}
.footer, .push{
  background-color:#e52364;
  color:#fff;
  
  height: 6em;
  
}
.footer .container{
  padding:35px;
}

.footer .container{
  padding:25px;
}
.footer .left{
  float:left;
  font-size:20px;
}